[submodule "tools/tool.scad-project"]
	path = tools/tool.scad-project
	url = https://github.com/brainboxemb/tool.scad-project.git
[submodule "dsg/openscad/ext/lib.scad.clamps"]
	path = dsg/openscad/ext/lib.scad.clamps
	url = https://github.com/brainboxemb/lib.scad.clamps.git
